.cache
.eggs
dump.rdb

*__pycache__*
*.pyc

*.log

container/app/sandbox
container/logs
container/data
!container/data/example_config.json

container/app/templates/index/static_content.html

container/data/protocols.db
scripts/secret*

.DS_Store
